div, section, article, header, footer, h1, h2, h3, h4, h5, h6, p, label, ul, li, body
    margin: 0
    padding: 0
    user-select: none

body
    font-family: system-ui
    font-size: 80%
    font-weight: normal
    color: #555

h1, h2, h3, h4, h5, h6, p, label, ul, li, button, span
    font-size: 100%

#qedit, #qlist
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

#qedit
    pointer-events: none
    #popup-overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        backdrop-filter: blur(0)
        pointer-events: none
        background: white
        opacity: 0
        transition: all 0.5s
        &.show
            backdrop-filter: blur(32px)
            opacity: 0.5
            pointer-events: auto
    .popup
        width: 80%
        max-width: 600px
        margin-left: auto
        margin-right: auto
        margin-top: 2em
        border: 1px solid silver
        border-radius: 8px
        background: white
        filter: drop-shadow(0 0 24px rgba(192, 192, 192, 75%))
        opacity: 0
        pointer-events: none
        transform: translateY(1em)
        transition: opacity 0.25s, transform 0.25s
        &.show
            opacity: 1
            transform: translateY(0)
            pointer-events: auto
        h1
            font-weight: bold
        .container
            margin: 1em
            textarea
                resize: vertical
            div:not(:first-child):not(.nospace)
                padding-top: 0.7em
            .row
                display: flex
                label, p
                    flex: 0 0 auto
                label
                    vertical-align: middle
                input:not(.inline), textarea, select
                    flex: 1
                button
                    margin-left: 0.4em
            .row.twoliner
                display: block
                input:not(.inline), textarea, select, label, p
                    display: block
                    box-sizing: border-box
                    width: 100%
            .row.right
                width: fit-content
                margin-left: auto
            .subgroup
                display: block
                input:not(.inline), textarea, select, label, p
                    display: block
                    box-sizing: border-box
                    width: 100%
                header
                    display: flex
                    justify-content: space-between
                    h1, h2, h3, h4, h5, h6
                        flex: 1
                        span, input, label
                            display: inline
                            width: fit-content
            ul
                list-style: none
                padding-left: 1em
                li
                    display: flex
                    padding-top: 0.3em
            input.expanded
                flex: 1

section
    h1
        border-bottom: 1px solid silver
        line-height: 200%
        text-align: center
    h2
        text-align: center
        line-height: 180%
        &::after
            content: ""
            display: block
            height: 1px
            width: 100%
            background: -webkit-linear-gradient(0deg, rgba(160, 160, 160, 0), rgba(160, 160, 160, 0.75), rgba(160, 160, 160, 0))

#qlist>div
    display: grid
    grid-template-columns: auto 1fr auto
    padding: 2em
    div
        padding: 0.5em
        border-bottom: 1px dashed #ccc
        background: transparent
        transition: background 0.1s
        cursor: pointer
    .head
        font-weight: bold
        padding: 2em
        background: #eee
        border-bottom: 1px solid #999
        cursor: default
    .numcenter
        text-align: center
        display: flex
        justify-content: center
        align-items: center
    .nohpad
        padding-left: 0
        padding-right: 0
    .selected
        background: rgba(0, 0, 0, 0.035)
