div, section, article, header, footer, h1, h2, h3, h4, h5, h6, p, label, ul, li, body
    margin: 0
    padding: 0
    user-select: none

body
    font-family: system-ui
    font-size: 80%
    font-weight: normal
    color: #555

section.popup
    width: 80%
    max-width: 600px
    margin-left: auto
    margin-right: auto
    margin-top: 2em
    border: 1px solid silver
    border-radius: 8px
    background: white
    filter: drop-shadow(0 0 24px rgba(192, 192, 192, 75%))
    transition: opacity 1s ease
    &:not(.show)
        opacity: 0
        pointer-events: none
    &.show
        opacity: 1
    h1
        font-weight: bold
    .container
        margin: 1em
        textarea
            resize: vertical
        div:not(:first-child):not(.nospace)
            padding-top: 0.7em
        .row
            display: flex
            label, p
                flex: 0 0 auto
            label
                vertical-align: middle
            input:not(.inline), textarea, select
                flex: 1
            button
                margin-left: 0.4em
        .row.twoliner
            display: block
            input:not(.inline), textarea, select, label, p
                display: block
                box-sizing: border-box
                width: 100%
        .row.right
            width: fit-content
            margin-left: auto
        .subgroup
            display: block
            input:not(.inline), textarea, select, label, p
                display: block
                box-sizing: border-box
                width: 100%
            header
                display: flex
                justify-content: space-between
        ul
            list-style: none
            padding-left: 1em
            li
                display: flex
                padding-top: 0.3em
        input.expanded
            flex: 1

section
    h1
        border-bottom: 1px solid silver
        line-height: 200%
        text-align: center
    h2
        text-align: center
        line-height: 180%
        &::after
            content: ""
            display: block
            height: 1px
            width: 100%
            background: -webkit-linear-gradient(0deg, rgba(160, 160, 160, 0), rgba(160, 160, 160, 0.75), rgba(160, 160, 160, 0))

#qlist
    display: grid
    grid-template-columns: auto 1fr auto
    padding: 2em
    div
        padding: 0.5em
        border-bottom: 1px dashed #ccc
    .head
        font-weight: bold
        padding: 2em
        background: #eee
        border-bottom: 1px solid #999
    .numcenter
        text-align: center
        display: flex
        justify-content: center
        align-items: center
    .nohpad
        padding-left: 0
        padding-right: 0
